extends ../_base

block content
  <div id="fullCenter">
    if myaccount.paid
      <h3>You're Already a Paid Member!</h3>
      <p>Your membership is valid until #{myaccount.paidExpirePretty}. If if you would like to renew early please do!</p>
     
    <h2>Hello #{myaccount.firstName}</h2>
    | Welcome to the OCVT! You can renew membership and purchase items below. All transactions are handled via Stripe.
    <br>
    <br>

    <!-- https://stripe.com/docs/payments/checkout/accept-a-payment#add-checkout-button -->
    <script>var STRIPE_PUBLIC_KEY="#{STRIPE_PUBLIC_KEY}"</script>
    <script src="https://js.stripe.com/v3/"></script>
    <form onsubmit="ocvtDues(this); return false">
      <input type="radio" name="paymentOption" value="dues"> Basic Dues - $20: Base membership dues for one year. <br>
      <input type="radio" name="paymentOption" value="duesShirt" checked> Dues + Shirt - $30: For $10 more you get an OCVT T-Shirt, a $20 value! <br>
      <input type="radio" name="paymentOption" value="freshmanSpecial"> Freshman Special - $65: You get a <strong>4 year</strong> membership and a T-Shirt. <br>
      <br>
      <button>Submit</button>
    </form> 
  </div>
