extends ../_base

block content
  <div class="fullCenter">
    <script>var STRIPE_PUBLIC_KEY="#{STRIPE_PUBLIC_KEY}"</script>
    <p id="paymentInfo"></p>
    <script src="https://js.stripe.com/v3/"></script>
    <script>ocvtStripePayment('#{paymentId}');</script>
  </div>
