extends ../_base

block content
  <div id="fullCenter">
    <h3>Your payment was successful</h3>
    <p>Your membership expires on #{myaccount.paidExpirePretty}.</p>
    <p>If you ordered a t-shirt, you can pick it up at a meeting.</p>
  </div>
