<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/ocvt.css">
  <script type="text/javascript" src="/js/ocvt.js"></script>
  <script type="text/javascript" src="/js/unfetch-4.1.0.min.js"></script>
  <title>OCVT - #{title}</title>

  <!-- Generated from https://www.favicon-generator.org/ -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  <div id="all">
    <div id="side">
      <a href="/">
        <img src="/media/logo.png" alt="OCVT logo"  />
      </a>

      <a href="/">
        <div id="navButton" class="nav1">
          <strong>HOME</strong>
        </div>
      </a>

      <a href="/about">
        <div id="navButton" class="nav1">
          <strong>ABOUT US / CONTACT</strong>
        </div>
      </a>

      <a href="/register">
        <div id="navButton" class="nav1">
          <strong>JOIN US</strong>
        </div>
      </a>

      <a href="/trips">
        <div id="navButton" class="nav1">
          <strong>TRIPS</strong>
        </div>
      </a>

      <a href="/myocvt">
        <div id="navButton" class="nav1">
          <strong>MY ACCOUNT</strong>
        </div>
      </a>

      <a href="/dues">
        <div id="navButton" class="nav1">
          <strong>PAY DUES / SHOP</strong>
        </div>
      </a>

      <a href="/gallery">
        <div id="navButton" class="nav1">
          <strong>GALLERY</strong>
        </div>
      </a>

      <a href="/resources">
        <div id="navButton" class="nav1">
          <strong>RESOURCES</strong>
        </div>
      </a>

      <a href="/help">
        <div id="navButton" class="nav1">
          <strong>HELP - F.A.Q.</strong>
        </div>
      </a>

      <div id="atc">
        <a href="http://www.appalachiantrail.org/home/about-us/regional-partnerships">
          <img src="/media/atc-logo.png" alt="An ATC partner" title="We are an ATC Partner">
        </a>
      </div>
    </div><!-- end side -->
  
    <div id="title">
      <h1>Outdoor Club at Virginia Tech</h1>
    </div>
  
    <div id="content">
      <div id="miniheader">
        <h2>#{header}</h2>
        <div id="logon">
          <strong>
            if name.status === 200
              | Welcome #{name.firstName} | <a href="/logout">Logout</a> | <a href="/myocvt">Settings</a>
            else if name.status === 404
              | You are logged in but have not registered! | <a href="/logout">Logout</a> | <a href="/register">Complete Registration</a>
            else
              | You are not logged on | <a href="/login">LogIn</a> | <a href="/register">Register</a>
          </strong>
        </div>
      </div><!-- end miniheader -->

      block content
    </div><!-- end content -->
  </div><!-- end all -->
</body>
</html>
