<!DOCTYPE html>
<html lang="en">
<head>
  <title>OCVT - ERROR</title>
</head>
<body>
  <a href="/">OCVT Home Page</a>

  <h2>Error! Please contact the OCVT webmaster (ocvt-webmaster@vt.edu) with a screenshot of this page</h2>

  <h3>Error Status:</h3>
  <p>#{errorStatus}</p>

  <h3>Error Code:</h3>
  <p>#{errorCode}</p>

  <h3>Error Message:</h3>
  <p>#{errorMessage}</p>
</body>
</html>
