extends _base

block content
  <div id="fullCenter">
    <h2 id="t1">Contents</h2>
    <ul>
      <li><a href="#unsubscribe">How do I Unsubscribe?</a></li>
      <li><a href="#privacy">Where can I find the Privacy Policy or Terms of Use?</a></li>
    </ul>
  </div>

  <div id="fullCenter">
    <h2 id="unsubscribe">How do I Unsubscribe?</h2>
    <p>Simply visit <a href="/myocvt#notifications">your account page</a> to unsubscribe from all emails</p>

    <h2 id="privacy">Where can I find the Privacy Policy or Terms of Use?</h2>
    <p>Click here: <a href="/privacy">Privacy Policy / Terms of Use</a></p>
  </div>
