<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script>const API_URL="#{API_URL}"</script>
  <script src="/js/ocvt_quicksignup.js"></script>
  <title>Quick Signup</title>
</head>
<body>
  <h2>OCVT Email Signup</h2>

  <h3>Enter your email to get notified about upcoming trips!</h3>

  <form onsubmit="quickSignup(this);return false">
    | Email: <input name="email" size="50" type="text">
    <button type="submit">Submit</button>
  </form>
</body>
