extends _base

block content
  <div id="fullCenter">
    <div style="width:720px" align="center">
      <table width="500" height="100">
        <tr>
          <td align="center">
            <button onclick="myocvtReactivateAccount('#{API_URL}')">Reactivate my account</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
