extends _base

block content
  <div class="fullCenter">
    <h2>Interested in joining the club?</h2>
    <p>
      | The first step is registering an account. Registration is
      | <strong>Free</strong> and easy. When you are done you will
      | automatically be set up to receive news about upcoming trips and events
      | .
    </p>

    <h3>
      | As of December 2020 we have migrated to a new website. Please fill out one of the 2 below
      | forms depending on if you need a new account or not.
    </h3>

    <h3>Welcome! Already have an account with the old site? Please fill out this form</h3>
    <p>
      | Fill out this form to migrate your account data from the previous site. Only account data
      | is migrated and all old public trip data (as of 2020-11-24) is viewable at
      | <a href="https://oldsite.ocvt.club">oldsite.ocvt.club</a>. Please
      | <a href="/about/contact">contact the webmaster</a> if you have any questions or issues.
    </hp>
    <form onsubmit="myocvtMigrateAccount(this);return false">
      <table class="ocvtForm">
        <tbody>
          <tr>
            <td valign="top">First Name:*</td>
            <td><input type="text" name="firstName" size="40" value="" required></td>
          </tr>
          <tr>
            <td valign="top">Last Name:*</td>
            <td><input type="text" name="lastName" size="40" value="" required></td>
          </tr>
          <tr>
            <td valign="top">Email:*</td>
            <td><input type="text" name="email" size="40" value="" required></td>
          </tr>
          <tr>
            <td valign="top">Birth Year:*</td>
            <td>
              <select name="birthyear" required>
                <option value="" selected>----</option>
                -
                  let start = 1900;
                  let end = new Date().getFullYear() - 14;
                  let years = Array.from({length: end - start}, (v, k) => k + start);
                each year in years.reverse()
                  <option value="#{year}">#{year}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td valign="top">Gender:*</td>
            <td>
              <select name="gender" required>
                <option value="" selected>----</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <h3 color="red">
        | This form will not work unless you already had account with the old site! Please use the
        | form below if you need a new account.
      </h3>
      <button type="submit" name="Submit">Submit</button>
    </form>

    <hr>

    <h3>Welcome! Don't have an account with the old site? Please fill out this form.</h3>
    <p>
      | Please fill out this simple form. For medical condition you do not
      | have to put a description if you do not want to; but please
      | indicate "yes" if you have something that a trip leader should ask
      | you about before you go somewhere. Only your name and gender will
      | be publically accessible on the site.
    </p>
    <form onsubmit="myocvtUpdateMyAccount('POST', true, '', '', this);return false">
      <table class="ocvtForm">
        <tbody>
          <tr>
            <td valign="top">First Name:*</td>
            <td><input type="text" name="firstName" size="40" value="" required></td>
          </tr>
          <tr>
            <td valign="top">Last Name:*</td>
            <td><input type="text" name="lastName" size="40" value="" required></td>
          </tr>
          <tr>
            <td valign="top">Email:*</td>
            <td><input type="text" name="email" size="40" value="" required></td>
          </tr>
          <tr>
            <td valign="top">Birth Year:*</td>
            <td>
              <select name="birthyear" required>
                <option value="" selected>----</option>
                -
                  start = 1900;
                  end = new Date().getFullYear() - 14;
                  years = Array.from({length: end - start}, (v, k) => k + start);
                each year in years.reverse()
                  <option value="#{year}">#{year}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td valign="top">Gender:*</td>
            <td>
              <select name="gender" required>
                <option value="" selected>----</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other</option>
                <option value="P">Prefer not to say</option>
              </select>
            </td>
          </tr>
          <tr>
            <td valign="top">Cell Number:</td>
            <td><input type="text" name="cellNumber" size="40" value=""></td>
          </tr>
          <tr>
            <td valign="top">Medical Condition <span class="mild">Do you have a condition <br>we should be aware of?</span>:*</td>
            <td><input type="checkbox" name="medicalCond"></td>
          </tr>
          <tr>
            <td valign="top">Medical Condition Description<br><span class="mild">(optional)</span>:</td>
            <td><textarea name="medicalCondDesc" rows="6" cols="35"></textarea></td>
          </tr>
          <tr>
            <td valign="top">
              | <strong>Terms Of Service Waiver</strong>: I have read and
              | agree to the<br> <a href="/privacy">Privacy Policy and Terms of Use</a>.:*
            </td>
            <td><input type="checkbox" name="terms" value="TERMS" required></td>
          </tr>
        </tbody>
      </table>
      <p>Fields marked with "*" are required.</p>
      <button type="submit" name="Submit">Submit</button>
    </form>
  </div>
