extends _base

block content
  <div id="fullCenter">
    <ul>
      <h2 id="t1">Contents</h2>
      <li><a href="#maps">Maps &amp; Guides</a></li>
      <li><a href="#websites">Outdoor Web Sites</a></li>
      <li><a href="#gear">Gear</a></li>
      <li><a href="#memberpages">Member Pages</a></li>
      <li><a href="#docs">Club Forms &amp; Docs</a></li>
    </ul>
  </div>

  <div id="fullCenter">
    <h2 id="maps">Maps, Guides, &amp; Data</h2>

    <ul>
      <li>
        <a href="/media/documents/Hikes_Around_VT_1991.pdf" target="_blank">Hiking Adventures Around Virginia Tech</a>
        <img class="email" src="/media/pdficon_small.gif" height="17" width="17">:&nbsp;
        | Guide to hikes around Virginia Tech. Created by OCVT in 1991.
      </li>

      <li>
        <a href="https://www.trailheadfinder.com/" target="_blank">TrailHeadFinder.com</a>:&nbsp;
        | The Hiking Trail Database. Created by former VT student.
      </li>

      <li>
        <a href="https://www.usgs.gov/core-science-systems/ngp/tnm-delivery/topographic-maps" target="_blank">USGS Topographical maps</a>:&nbsp;
        | USGS web map for downloading topo maps in PDF format for FREE!.
      </li>

      <li>
        <a href="https://www.appalachiantrail.org/home/explore-the-trail/gis-data" target="_blank">Appalachian Trail Conservancy Data</a>:&nbsp;
        | Appalachian Trail GIS, KML and GPX data
      </li>

      <li>
        <a href="http://guymott.com/atgps.html" target="_blank">GPS and Google Earth Data for the Appalachian Trail</a>:&nbsp;
        | GPS data is modified ATC GPS data
      </li>
      <li>
      <a href="https://www.bicycle-guider.com/" target="_blank">Bicycle-Guider.com</a>:&nbsp;
      | In-depth bike guides, mountain bike reviews, and other helpful cycling articles
    </li>

    </ul>

  <div id="fullCenter">
    <h2 id="websites">Outdoor Web Sites</h2>

    <ul>
      <li>
        <a href="https://www.geargrams.com/">Gear Grams</a>:&nbsp;
        | Figure out how much your pack <i>really</i> weighs.
      </li>
      <li>
        <a href="http://www.backcountry.com/sc/backpacking-guide-infographic" target="_blank">Preparing For a Backpacking Trip</a>
      </li>
      <li>
        <a href="http://www.atconf.org">Appalachian Trail Conference</a>:&nbsp;
        | The organization that oversees the Appalachian Trail.
      </li>
      <li>
        <a href="http://www.fs.usda.gov/gwj" target="_blank">George Washington and Jefferson National Forests</a>:&nbsp;
        | Has info on the local trails and some not so local ones too.
      </li>
      <li>
        <a href="http://www.LNT.org" target="_blank">Leave No Trace</a>:&nbsp;
        | "Promotes skills and ethics to support the sustainable use of wildlands
        and natural areas."
      </li>
      <li>
        <a href="http://www.trailplace.com" target="_blank">Trailplace</a>:&nbsp;
        | A series of pages with all kinds of information on the Appalachian Trail.
      </li>
      <li>
        <a href="http://clubs.roanoke.edu/oa/" target="_blank">Roanoke College Outdoor Adventures</a>:&nbsp;
        | Roanoke College's outdoor recreation program. Check out their website
        with lots of useful info.
      </li>
    </ul>
  </div>

  <div id="fullCenter">
    <h2 id="gear">Places to Purchase Gear</h2>

    <h3>Local Businesses</h3>
    <ul>
      <li>
        <a href="http://www.bcski.com" target="_blank">Backcountry Ski and Sports</a>:&nbsp;
        | On Route 460 near the Montgomery County Regional Hospital.
      </li>
      <li>
        <a href="http://www.dickssportinggoods.com" target="_blank">Dicks Sporting Goods</a>:&nbsp;
        | Montgomery Mall in Christiansburg, VA.
      </li>
      <li>
        <a href="http://walkaboutoutfitter.com/" target="_blank">Walkabout Outfitters</a>:&nbsp;
        | Located in Blacksburg, Roanoke, and Lexington, VA.
      </li>
    </ul>

    <h3>Web stores</h3>
    <ul>
      <li>
        <a href="http://www.campmor.com" target="_blank">Campmor</a>:&nbsp;
        | Lot's of discounts and clearance items can be found here.
      </li>
      <li>
        <a href="http://www.rei.com" target="_blank">REI</a>:&nbsp;
        | One of the largest gear stores around.
      </li>
      <li>
        <a href="http://www.sierratradingpost.com" target="_blank">Sierra Trading Post</a>:&nbsp;
        | Lot's of cheap prices here too.
      </li>
    </ul>
  </div>

  <div id="fullCenter">
    <h2 id="memberpages">Member Pages</h2>

    <ul>
      <li>
        <a href="http://www.IamLubos.com" target="_blank">Lubos' web page</a>:&nbsp;
        | Pictures from Mt. Rainier, Mt. Mansfield and other highpointing
        adventures.
      </li>
    </ul>

    <h4>
      | Want your own page? Contact the <a href="/about/contact">Webmaster</a>
      | for hosting through the club!
    </h4>
  </div>

  <div id="fullCenter">
    <h2 id="docs">Club Forms & Docs</h2>

    <ul>
      <li><a href="/photocontest"p>OCVT Fall 2016 Photo Contest Rules</a></li>
      <li>
        <a href="/media/documents/Waiver_OCVT.pdf" target="_blank">Trip Waiver</a>
        <img class="email" src="/media/pdficon_small.gif" height="17" width="17">
      </li>
      <li>
        <a href="/media/documents/Work_trip_report.pdf" target="_blank">Work Trip Report</a>
        <img class="email" src="/media/pdficon_small.gif" height="17" width="17">
      </li>
      <li>
        <a href="/media/documents/OCVT_Trip_Leader_Guide.pdf" target="_blank">OCVT Trip Leader Guide</a>
        <img class="email" src="/media/pdficon_small.gif" height="17" width="17">:&nbsp;
        | A guide for trip leaders
      </li>
      <li>
        <a href="/media/documents/OCVT_AT_Work_Trips.pdf" target="_blank">OCVT Work Trips</a>
        <img class="email" src="/media/pdficon_small.gif" height="17" width="17">:&nbsp;
        | Information about AT work trips
      </li>
    </ul>
  </div>
