extends _base

block content
	<div class="fullCenter">
		<h2>Trip Attendance Terms</h2>
		<p>
			| As a participant, I recognize and understand that my participation in the Activity is
			| voluntary and optional.  I recognize that to transport or be transported by a personal,
			| privately owned automobile, my personal insurance or the personal insurance of the auto
			| owner will be the primary carrier if an accident occurs.  Virginia Polytechnic Institute
			| and State University ("Virginia Tech") and OCVT does not provide insurance for personal,
			| privately owned vehicles.
		<p>
			| I recognize that as a participant of an Activity and traveling in a personal automobile may
			| expose me to personal injury and/or property damage, and I assume responsibility for that
			| risk of injury or damage.  I understand that Virginia Tech and OCVT is not responsible for
			| my welfare during any absences from supervised activities during the travel and agree that
			| Virginia Tech and/or OCVT is not liable for any consequences of my actions including injury
			| to persons and property arising during such periods or travel, and I accept responsibility
			| for reimbursement either to the injured party or to Virginia Tech and/or OCVT for any
			| damages sustained by them due to my actions.
		</p>
		<p>
			| Furthermore, I agree, as a condition of my participation and in consideration thereof, to
			| be solely responsible for any damage or injury to third parties or to myself resulting from
			| anything connected with the Activity, and agree to and hereby do release, discharge, hold
			| forever harmless and indemnify Virginia Tech and its Board of Visitors, the Commonwealth of
			| Virginia, and their respective agents, officers, servants, and employees against loss from
			| any and all claims, demands, rights, or causes of action of any kind or nature that may
			| hereafter at any time be made or brought by me, or by any other person having a legal
			| interest therein, arising from or by reason of any and all known or unknown, foreseen and
			| unforeseen bodily or personal injuries, damages to property and consequences thereof which
			| may be sustained by me in consequence of any accident or injuries in connection with the
			| Activity, including but not limited to the travel involved in this activity via personal
			| and privately owned vehicles.  Said indemnification shall include, but not be limited to,
			| court costs and reasonable attorneys' fees.  Furthermore, I agree to indemnify Virginia
			| Tech and OCVT for any loss or damage to the premises, facilities, or equipment of Virginia
			| Tech that I may cause. I am also granting permission for Virginia Tech and Virginia Tech
			| authorized entities to film and/or make photographs of me during this exercise, and grant
			| the absolute right and permission to publish, copyright and use my name and
			| film/photographic likeness in all forms and media for advertising, trade, and any other
			| lawful purposes.
		</p>
		<p>
			| By my agreement, I acknowledge that I am 18 years of age or older and understand that I am
			| entitled to have an attorney of my own choosing review this release.  I have read the
			| foregoing Release in its entirety and understand that I am aggreeing to a complete and
			| perpetual release and bar to any and all claims of negligence as defined above resulting
			| from my participation in this Activity.  IF THE PARTICIPANT IS NOT 18 YEARS OF AGE OR
			| OLDER, THIS A PAPER RELEASE MUST BE SIGNED BY A PARENT OR LEGAL GUARDIAN.  THIS RELEASE OF
			| LIABILITY SHALL BE CONSTRUED IN ACCORDANCE WITH THE LAWS OF THE COMMONWEALTH OF VIRGINIA.
		</p>
	</div>
