extends _base

block content
  <div class="fullCenter">
    <h2>Unsubscribe</h2>
    <p>Enter your email below to unsubscribe from all OCVT emails</p>
    <form onsubmit="unsubscribe(this);return false">
      <input type="email" id="email" name="email" required></td>
      <button type="submit" name="user">Submit</button>
      <p id="updateUnsubscribeInfo"></p>
    </form>

    <script>
      | var email = getQueryParam("email");
      | if (email) {
      |   document.getElementById("email").setAttribute("value", email);
      | }
    </script>
  </div>
