extends ../../_base

block content
  <div class="fullCenter">
    <ul>
      <li><a href="/about/officers/President">President</a></li>
      <li><a href="/about/officers/VicePresident">Vice President</a></li>
      <li><a href="/about/officers/Treasurer">Treasurer</a></li>
      <li><a href="/about/officers/HeadTripLeader">Head Trip Leader</a></li>
      <li><a href="/about/officers/Advisor">Advisor</a></li>
      <li><a href="/about/officers/PR">Outreach Chair</a></li>
      <li><a href="/about/officers/TrailMaintenance">Trail Maintenance</a></li>
      <li><a href="/about/officers/Webmaster">Webmaster</a></li>
    </ul>  

    block officer-bio
  </div>
  <hr>
