extends _base

block officer-bio
  <h2>Advisor</h2>
  <img class="photoRight" src="/media/officers/Advisor.jpg" alt="Advisor photo">
  <h3>Christina McIntyer - Advisor</h3>
  <p>
    | Christina McIntyre is the Director of Major Scholarships for the Honors
    | College at Virginia Tech. She is a member of the National Association of
    | Fellowship Advisors (NAFA), and the National Collegiate Honors Council (NCHC)
    | and serves on NCHC's Major Scholarships committee and as a co-chair for
    | <a href="https://www.nchchonors.org/events/partners-in-the-parks">
    | NCHC's Partners in the Parks</a>, a collaboration with the National Park
    | Service. Her undergraduate and graduate studies were in nutrition and
    | exercise science. She earned her first Junior Range patch from Yosemite
    | National Park in 1975.
  </p>
