extends _base

block officer-bio
  <h2>Faculty Advisor</h2>
  <img class="photoRight" src="/media/officers/Advisor.jpg" alt="Advisor photo">
  <h3>Christina McIntyer - Faculty Advisor</h3>
  <p>
    | Christina is the Director of Professional Development, National and International
    | Scholarships at Virginia Tech. She's a two-time Hawaii Ironman World Championship finisher
    | (placing 5th and 3rd in her age group back in the day). She enjoys kayaking, backpacking,
    | hiking, cycling...if it's outside, she enjoys it. Her degrees are in nutrition and physiology.
  </p>
  <img class="photoRight" src="/media/officers/Advisor2.jpg" alt="Advisor second photo">
