extends _base

block officer-bio
  <h2>Equipment Manager</h2>
  <img class="photoRight" src="/media/officers/EquipmentManager.jpg" alt="Equipment Manager photo">
  <h3>Cade Meredith - Equipment Manager</h3>
  <p>
    | Hi I am Cade! I am a senior in Materials Science and Engineering. I joined the club my junior
    | year. Since then I have been in charge of organizing and keeping records of the equipment. I
    | joined the outdoor club because I love hiking, swimming outdoors, and rock climbing. The club
    | gives me an opportunity to experience the outdoors and meet new people!
  </p>
