extends _base

block officer-bio
  <h2>Head Trip Leader</h2>
  <img class="photoRight" src="/media/officers/HeadTripLeader.jpg" alt="Head Trip Leader photo">
  <h3>Nate - Head Trip Leader</h3>
  <p>
    | Hey! I’m Nate and I’m currently a junior studying mechanical engineering. I’ve been
    | in OCVT since freshman year and have been the head trip leader since the start of my
    | sophomore year. I also lead the Trip Leader Committee, so if you ever want to lead a trip,
    | you’re always welcome to reach out! I joined OCVT because I’ve always loved hiking and
    | wanted to meet other people who had similar interests, and my favorite outdoor activities
    | include sunset/sunrise hikes, backpacking, and rock scrambling!
  </p>
