extends _base

block officer-bio
  <h2>Head Trip Leader</h2>
  <img class="photoRight" src="/media/officers/HeadTripLeader.jpg" alt="Head Trip Leader photo">
  <h3>Bennet Witcher - Head Trip Leader</h3>
  <p>
    | Bennett is a recent Aerospace Engineering graduate from Daleville, Virginia.
    | As a local and thru-hiker, he has spent many years performing trail
    | maintenance in the area and wishes to introduce new individuals to creating
    | and preserving the Appalachian Trail.
  </p>
