extends _base

block officer-bio
  <h2>Head Trip Leader</h2>
  <img class="photoRight" src="/media/officers/HeadTripLeader.jpg" alt="Head Trip Leader photo">
  <h3>Joe Eversole - Head Trip Leader</h3>
  <p>
    | Joe is a Senior studying Electrical Engineering. He grew up hiking in Rockbridge County, VA,
    | and joined OCVT his freshman year. Joe enjoys backpacking, fly fishing, rock climbing, and
    | beach camping. His favorite thing to do near Tech is watch the sunrise on top of Dragon's Tooth.
  </p>
