extends _base

block officer-bio
  <h2>Head Trip Leader</h2>
  <img class="photoRight" src="/media/officers/HeadTripLeader.jpg" alt="Head Trip Leader photo">
  <h3>Nate - Head Trip Leader</h3>
  <p>
    | Nate is a sophomore in Mechanical Engineering with planned minors in Green and Nuclear
    | Engineering. He joined OCVT his freshman year and became Head Trip Leader in 2024. His
    | favorite outdoor activities include hiking, trail running, and star gazing, and his favorite
    | hike (sort of) near campus is Little Rocky Row Loop!
  </p>
