extends _base

block officer-bio
  <h2>Outreach Chair</h2>
  <img class="photoRight" src="/media/officers/PR.jpg" alt="PR photo">
  <h3>Jasmine Adams - Outreach Chair</h3>
  <p>
    | Hello, my name is Jasmine Adams and I am a senior studying Experimental Neuroscience.
    | I’ve been in the club since Junior year and have been a part of the Trip leader committee
    | prior to my role as the Outreach Chair.
  </p>
