extends _base

block officer-bio
  <h2>Public Relations Officer</h2>
  <img class="photoRight" src="/media/officers/PR.jpg" alt="PR photo">
  <h3>Laurel Romoser - PR</h3>
  <p>
    | Laurel is a Sophomore in Computer Science from Fairfax, Virginia. She is a
    | big fan of mountains and hiking through them. Her favorite thing is bringing
    | people backpacking with her and finding new places to go!
  </p>
