extends _base

block officer-bio
  <h2>Outreach Chair</h2>
  <img class="photoRight" src="/media/officers/PR.jpg" alt="PR photo">
  <h3>Ivy Brundege - Outrech Chair</h3>
  <p>
    | Ivy is a junior majoring in computational neuroscience and computer science at VT. Her
    | favorite thing about spending time outdoors is that it gives you a chance to connect with
    | both people and the nature around you. She loves hiking, backpacking, trail running, and
    | paddle boarding!
  </p>
