extends _base

block officer-bio
  <h2>President</h2>
  <img class="photoRight" src="/media/officers/President.jpg" alt="President photo">
  <h3>Logan Duff - President</h3>
  <p>
    | Hi I’m Logan, I’m a junior studying aerospace engineering. I’ve been in the club since
    | freshman year and have served as the Freshman Experience Leader and the Vice President.
    | I love the outdoors and the New River Valley has so many amazing opportunities to explore.
    | Some of my favorite trips have been canoeing/kayaking on the New River, and just about any
    | hike. Outside of school and the club, I’m also a server at Cabo Fish Taco and lead a bible
    | study in Cru. I’m excited for this year and meeting everyone! Feel free to reach out with
    | any questions!
  </p>
