extends _base

block officer-bio
  <h2>President</h2>
  <img class="photoRight" src="/media/officers/President.jpg" alt="President photo">
  <h3>Jesse Macklin - President</h3>
  <p>
    | Jesse is a senior majoring in Cognitive Neuroscience and Philosophy. She loves backpacking
    | and hiking, is getting over her fear of biking, and is always excited to explore new places!
    | Her favorite backpacking spot in the area is Rice Fields, her favorite hike is Angels Rest,
    | and favorite place to watch the sunrise is McAfee Knob. 
  </p>
