extends _base

block officer-bio
  <h2>President</h2>
  <img class="photoRight" src="/media/officers/President.jpg" alt="President photo">
  <h3>Emily Sellards - President</h3>
  <p>
    | Emily is a Senior studying Aerospace Engineering with a minor in French. She joined OCVT
    | her freshman year and has been club President since 2019. Her favorite outdoor activities
    | include hiking, bouldering, mountain biking and finding a good hammocking spot on campus.
    | Her favorite hike near Blacksburg is Rice Fields.
  </p>
