extends _base

block officer-bio
  <h2>President</h2>
  <img class="photoRight" src="/media/officers/President.jpg" alt="President photo">
  <h3>Emily Sellards - President</h3>
  <p>
    | Emily is a sophomore studying Aerospace Engineering. Originally from New Jersey, she joined
    | OCVT her freshman year. She loves hiking, skiing, snowboarding, and rock climbing. Her
    | favorite hike by Tech is Rice Fields or Dragon's Tooth.
  </p>
