extends _base

block officer-bio
  <h2>President</h2>
  <img class="photoRight" src="/media/officers/President.jpg" alt="President photo">
  <h3>Brittan Wilcox - President</h3>
  <p>
    | Hailing from Roanoke, Virginia, Brittan is a mechanical engineering student
    | who has spent more time in the Blue Ridge Mountains than he can remember. An
    | avid lover of hiking, cycling, and backpacking, he joined the Outdoor Club as
    | soon as he started at Tech and never looked back except when he's ahead of
    | everyone else.
  </p>
