extends _base

block officer-bio
  <h2>Trail Maintenance Officer</h2>
  <img class="photoRight" src="/media/officers/TrailMaintenance.jpg" alt="Trail Maintenance photo">
  <h3>Colin Wargo - Trail Maintenance</h3>
