extends _base

block officer-bio
  <h2>Trail Maintenance Officer</h2>
  <img class="photoRight" src="/media/officers/TrailMaintenance.jpg" alt="Trail Maintenance photo">
  <h3>Colin Wargo - Trail Maintenance</h3>
  <p>
    | Colin is a senior in Electrical Engineering, with a specialization in
    | Controls, Robotics, and Autonomy. He joined OCVT as treasurer/Vice President
    | in 2019, moving to trail maintenance officer in 2020. His top outdoor activities
    | include: Backpacking, mountain biking, skiing, trail maintenance, and tossing
    | a frisbee on the drillfield. Most highly recommended hike near(ish) Blacksburg:
    | Grayson Highlands to Mount Rogers. Wild horses and a 360 view for most of the hike!
  </p>
