extends _base

block officer-bio
  <h2>Trail Maintenance Officer</h2>
  <img class="photoRight" src="/media/officers/TrailMaintenance.png" alt="Trail Maintenance photo">
  <h3>Laura Puckett - Trail Maintenance</h3>
  <p>
    | Laura is a junior in Environmental Informatics and an outdoors enthusiast.
    | She enjoys running, camping, and hiking and hopes to share with others her
    | love of the A.T., and dedication to maintaining it.
  </p>
