extends _base

block officer-bio
  <h2>Trail Maintenance / ATC Representatives</h2>
  <img class="photoRight" src="/media/officers/TrailMaintenance.jpg" alt="Trail Maintenance photo">
  <h3>Max Sheehan</h3>
  <p>
    | Hi, I’m Max. I am a junior studying biomedical engineering. I joined the club in my second
    | semester of freshman year and have served as a trail maintenance officer and the Application
    | Trail Conservancy representative for OCVT since the beginning of my sophomore year. I joined
    | OCVT because I love hiking and anything outdoors, especially backpacking, caving, and giving
    | back to the community through trail maintenance. I hope to see you out on the trial!
  </p>

  <img class="photoRight" src="/media/officers/ATC.jpg" alt="ATC photo">
  <h3>Noah Garcia</h3>
  <p>
    | Hi, my name is Noah and I am a sophomore studying chemical engineering. I got involved with
    | OCVT my freshman year and now I am one of the trail maintenance officers. I love encouraging
    | others to see and explore the outdoors of Virginia because there’s so much community and
    | adventure everywhere you look.
  </p>
