extends _base

block officer-bio
  <h2>Treasurer</h2>
  <img class="photoRight" src="/media/officers/Treasurer.jpg" alt="Treasurer photo">
  <h3>Grace Florjancic - Treasurer</h3>
  <p>
    | Grace is a sophomore studying microbiology. She loves to rock climb and
    | boulder in addition to hike. She has a personal goal to hike all of the
    | nearby trails before graduating.
  </p>
