extends _base

block officer-bio
  <h2>Vice President</h2>
  <img class="photoRight" src="/media/officers/VicePresident.jpg" alt="Vice President photo">
  <h3>Logan Duff - Vice President</h3>
  <p>
    | Logan will be a sophomore in the fall 2024 semester studying aerospace engineering.
    | He joined the club in the beginning of the fall 2023 semester and served as the Freshman
    | Experience Leader. Some of his favorite outdoor memories are from his trip to Switzerland,
    | where he went canyoning, rock climbing, completed a via ferrata, and backpacked up a
    | mountain. One of his personal goals is to backpack the Triple Crown during his time at Tech.
    | He looks forward to leading more trips with the club and exploring all that the Blacksburg
    | area has to offer.
  </p>
