extends _base

block officer-bio
  <h2>Vice President</h2>
  <img class="photoRight" src="/media/officers/VicePresident.jpg" alt="Vice President photo">
  <h3>Ivy Brundege - Vice President</h3>
  <p>
    | Hi, I’m Ivy! I’m a senior studying computational neuroscience and computer science,
    | and I’m the vice president for OCVT. I joined OCVT as a freshman because I think getting
    | outdoors is one of the best ways to connect with your community and the world around you!
    | My favorite outdoor activities are hiking, trail running, and backpacking.
  </p>
