extends _base

block officer-bio
  <h2>Webmaster</h2>
  <img class="photoRight" src="/media/officers/Webmaster.jpg" alt="Webmaster photo">
  <h3>Paul Walko - Webmaster</h3>
  <p>
    | Paul is a Junior in Computer Science from Louisville, KY. He enjoys going
    | biking, including mountain biking around Pandapas Pond and some road biking
    | too.
  </p>
