extends _base

block officer-bio
  <h2>Webmaster</h2>
  <img class="photoRight" src="/media/officers/Webmaster.jpg" alt="Webmaster photo">
  <h3>Warren Li - Webmaster</h3>
  <p>
    | Hailing from Pamplin College of Business, Warren is a super senior in BIT & Management. A
    | salsa/bachata enthusiast, he also loves warped-walling, auto racing, sailing, hang gliding,
    | and skydiving —— none of which he has actually had a chance doing —— thus far.
  </p>
