extends ../_base.pug

block content
  <div id="webtools">
    <h3><a href="quicksignup.php">Quick Sign-Up</a></h3>
    <p>Simple form to gather name and email from people at a PR event like Gobbler Fest</p>


    <h2>Members</h2>

    <h3><a href="/webtools/members">All Members</a></h3>
    <p>A list of <strong>all</strong> members.</p>

    <h3><a href="/webtools/officers">View/Manage Officers</a></h3>
    <p>View or manage current officers.</p>


    <h2>Announcements</h2>

    <h3><a href="announce.php">Email Announcements</a></h3>
    <p>Send an E-mail Announcement</p>

    <h3><a href="newsitem.php">News and Annoucements</a></h3>
    <p>Create a News Announcement for the front page</p>


    <h2>Payments</h2>

    <h3><a href="vieworders.php">Orders</a></h3>
    <p>A list of all incomplete online orders.</p>

    <h3><a href="manual_payments.php">Manual Payment Entry Page</a></h3>
    <p>Entry form for dues paid in person.</p>

    <h3><a href="view_manual_payments.php">Manual Payment Managment Page</a></h3>
    <p>View all incomplete manual payments.</p>
  </div>
