extends ../_base

block content
  <div class="webtools">
    <h3><a href="/quicksignup">Quick Sign-Up</a></h3>
    <p>Simple form to gather name and email from people at a PR event like Gobbler Fest</p>


    <h2>Members</h2>

    <h3><a href="/webtools/members">All Members</a></h3>
    <p>A list of <strong>all</strong> members.</p>

    <h3><a href="/webtools/approvers">View/Manage Trip Approvers</a></h3>
    <p>View or manage trip approvers.</p>

    <h3><a href="/webtools/officers">View/Manage Officers</a></h3>
    <p>View or manage current officers.</p>


    <h2>Announcements</h2>

    <h3><a href="/webtools/email">Create Email Announcement</a></h3>
    <p>Send an E-mail Announcement.</p>

    <h3><a href="/webtools/email/view">View All Sent Emails</a></h3>
    <p>View all (even trip related) sent emails.</p>

    <h3><a href="/webtools/news">Create Frontpage News</a></h3>
    <p>Create a News Announcement for the front page.</p>

    <h3><a href="/webtools/news/delete">Delete existing News</a></h3>
    <p>Delete existing News / Announcement.</p>


    <h2>Payments</h2>

    <h3><a href="/webtools/orders/manual">Manual Order Entry</a></h3>
    <p>For in person dues or other items.</p>

    <h3><a href="/webtools/orders/incomplete">View/Manage Incomplete Orders</a></h3>
    <p>View or manage incomplete orders.</p>

    <h3><a href="/webtools/orders/complete">View Complete Orders</a></h3>
    <p>View complete orders.</p>

    <h3><a href="/webtools/orders/codes">View Unredeemed Order Codes</a></h3>
    <p>View all unclaimed order codes. Redeemed (completed or not) orders are viewable with the 2 prior links.</p>
  </div>
