extends ../_base

block content
  <div class="fullCenter">
    <div class="photoRight">
      <img src="/media/about_trips.jpg" alt="Trips photo">
    </div>

    <p>
      | An <strong>OCVT Trip Leader</strong> is much more than just a trip
      | logistics planner and executor. They are an integral part of the OCVT
      | community and strives to foster community both on and off the trail.
      | Awesome trips are great, but without an OCVT sense of identity that results
      | from being a part of something greater, we will simply be viewed as a guide
      | service. Anyone with a passion for the outdoors can be an OCVT trip leader.
      | If interested in becoming a trip leader, please <strong>contact the head
      | trip leader at <a href="mailto:ocvt.tripleader@gmail.com?Subject=%20trip%20leader"
      | target="_top">ocvt.tripleader@gmail.com</a></strong>.
      | Trip leaders are also strongly encouraged to attend weekly OCVT
      | meetings or socials, as this is where lasting OCVT community is built. Some
      | benefits include an awesome <strong>exclusive T-shirt and a priority OCVT
      | membership</strong>. Look out for how-to-lead-a-trip meetings if you are interested!
    </p>

    <hr>
  </div>
