extends ../_base

block content
  <div class="fullCenter">
    <p>
      <a href="/about/officers/President"><strong>President</strong></a>
      <br>
      | Not sure who to ask or have a bigger issue? Shoot the president an email.
      <br>
      <a href="mailto:president.ocvt@gmail.com">president.ocvt@gmail.com</a>
    </p>

    <p>
      <a href="/about/officers/Treasurer"><strong>Treasurer</strong></a>
      <br>
      | For questions about merchandise, membership cards, paying dues or other membership inquiries.
      <br>
      <a href="mailto:ocvt.treasurer@gmail.com">ocvt.treasurer@gmail.com</a>
    </p>

    <p>
      <a href="/about/officers/HeadTripLeader"><strong>Head Trip Leader</strong></a>
      <br>
      | For questions concering leding trips or genral inquires or advice about events and trips.
      <br>
      <a href="mailto:ocvt.tripleader@gmail.com">ocvt.tripleader@gmail.com</a>
    </p>

    <p>
      <a href="/about/officers/TrailMaintenance"><strong>Trail Maintenance Officer</strong></a>
      <br>
      | Want to help out or have questions/comments about our section of trail?
      <br>
      <a href="mailto:ocvt.traildogs@gmail.com">ocvt.traildogs@gmail.com</a>
    </p>

    <p>
      <a href="/about/officers/Webmaster"><strong>Webmaster</strong></a>
      <br>
      | Report broken links or other web or email related problems.
      <br>
      <a href="mailto:ocvt.webmaster@gmail.com">ocvt.webmaster@gmail.com</a>
    </p>
  </div>
