extends ../_base

block content
  <div class="fullCenter">
    <p>
      <a href="/about/officers/PR"><strong>Public Relations Officer:</strong></a>
      <br>
      | For general inquiries about the club.
      <br>
      <img src="/media/officers/email/pr-email.png" alt="PR Email">
    </p>

    <p>
      <a href="/about/officers/Webmaster"><strong>Webmaster:</strong></a>
      <br>
      | Report broken links or other web or email related problems.
      <br>
      <img src="/media/officers/email/webmaster-email.png" alt="Webmaster Email">
    </p>

    <p>
      <a href="/about/officers/HeadTripLeader"><strong>Head Trip Leader:</strong></a>
      <br>
      | For questions concering leding trips or genral inquires or advice about events and trips.
      <br>
      <img src="/media/officers/email/triplead-email.png" alt="Tripleader Email">
    </p>

    <p>
      <a href="/about/officers/Treasurer"><strong>Treasurer:</strong></a>
      <br>
      | For questions about merchandise, membership cards, paying dues or other membership inquiries.
      <br>
      <img src="/media/officers/email/treasurer-email.png" alt="Treasurer Email">
    </p>

    <p>
      <a href="/about/officers/TrailMaintenance"><strong>Trail Maintenance Officer:</strong></a>
      <br>
      | Want to help out or have questions/comments about our section of trail?
      <br>
      <img src="/media/officers/email/trailmaint-email.png" alt="Trail Maintenance Email">
    </p>

    <p>
      <a href="/about/officers/President"><strong>President</strong></a>
      <br>
      | Not sure who to ask or have a bigger issue? shoot the president an email.
      <br>
      <img src="/media/officers/email/president-email.png" alt="President Email">
    </p>
  </div>
