extends ../_base

block content
  <div id="fullCenter">
    <p>
      | Founded in 1970, the Outdoor Club at Virginia Tech is a self propelled
      | wildland activities organization which seeks to foster a holistic
      | understanding of our environment through meaningful contact with the
      | surrounding land. The club plays a unique dual role, both recreationist and
      | conservationist. Deemed a class a member of the Appalachian Trail
      | Conservancy, the club is responsible for maintaining approximately 30 miles
      | of the Appalachian Trail which is divided into two sections - Pine Swamp
      | Branch Shelter to U.S. 460 at the New River
      | (<a href="/gpx/PineSwampto460.gpx">gpx</a>) and VA 611 to I-77
      | (<a href="/gpx/611toI77.gpx">gpx</a>) *see map below*. The club is
      | neighbored by the Piedmont Appalachian Trail Hikers (PATH) and the Roanoke
      | Appalachian Trail Club.
    </p>

    <img alt="Trail Maintenance Sections" src="/media/trailmaintmap.png" width="100%">

    <p>
      | Trail maintenance and construction includes a wide variety of activities.
      | Some of the club's everyday activities consist of: cutting out blowdown
      | with chainsaws and crosscut saws, painting white and blue blazes,
      | maintaining treadway, maintaining open areas, and picking up trash. Some
      | of the club's more specialized activities consist of: the construction and
      | maintenance of moldering privies, shelters, and trail signs as well as
      | installing water bars, check damns, and rock steps. Everyday activities are
      | usually carried out on day trips throughout the semester and the summer.
    </p>

    <p>
      | Trail work is fun, hard work and something that anyone can learn and do.
      | Don't be intimidated! If you're interested in trail work please
      | <a href="/about/contact">contact us</a>.
    </p>
    
    <hr>
  </div>
