extends ../_base

block content
  <div id="fullCenter">
    <h2>Recent Trips</h2>
      each trip in pastTrips
        include include/trip_list_summary.pug
      else
        <p>No Recent Trips</p>

    <br>
    if pastTrips.length > 0
      <center><a href="/trips/archive/#{pastTrips[pastTrips.length - 1].id}/20">View More Past Trips</a></center>
  </div>
