extends ../_base

block content
  <div class="fullCenter">
    <link rel="stylesheet" href="/css/flatpickr-v4.6.9.min.css">
    <script src="/js/flatpickr-v4.6.9.js"></script>

    <p>
      | Interested in leading a trip? to start just fill out this form. It may
      | seem daunting but many fields are optional to accommodate many different
      | types of trips and events. When you are done the website will announce
      | your trip and manage attendees for you.
    </p>

    <h2>Create a New OCVT Trip</h2>
    <form onsubmit="tripsNewTrip(this);return false">
      <table class="ocvtForm" style="border-collapse: collapse;">
        <tbody>
          <tr>
            <td valign="top">Trip Name:</td>
            <td><input type="text" name="name" size="50" required></td>
          </tr>
          <tr>
            <td valign="top">Trip Type:</td>
            <td>
              <select name="notificationTypeId" required>
                <option value="" selected>----</option>
                each type in tripTypes
                  if type.id !== 'TRIP_ALERTS'
                    <option value="#{type.id}">#{type.name}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td valign="top">Meet-up Date:</td>
            <td><input type="text" name="startDate" id="startDate" placeholder="Select Date..." required></td>
            <script>flatpickr("#startDate", { allowInput: true, altInput: true, altFormat: "F j, Y", dateFormat: "Y-m-d", minDate: "today" })</script>
          </tr>
          <tr>
            <td valign="top">Meet-up Time</td>
            <td><input type="text" name="startTime" id="startTime" placeholder="Select Start Time..." required></td>
            <script>flatpickr("#startTime", { allowInput: true, enableTime: true, noCalendar: true, dateFormat: "H:i" })</script>
          </tr>
          <tr>
            <td valign="top">End Time:</td>
            <td><input type="text" name="endTime" id="endTime" placeholder="Select End Time..." required></td>
            <script>flatpickr("#endTime", { allowInput: true, enableTime: true, noCalendar: true, dateFormat: "H:i" })</script>
          </tr>
          <tr>
            <td valign="top">Max Attendees:</td>
            <td>
              <select name="maxPeople" required>
                <option value="" selected>----</option>
                <option value="1000000">No Limit</option>
                - const people = Array.from(Array(101).keys())
                each count in people
                  <option value="#{count}">#{count}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td valign="top">Brief Trip Summary:<br><span class="mild">(max 200 characters)</span></td>
            <td><textarea name="summary" rows="4" cols="50" maxlength="199" required></textarea></td>
          </tr>
          <tr>
            <td valign="top">Full Trip Description:</td>
            <td><textarea name="description" rows="10" cols="50" required></textarea></td>
          </tr>

          <tr>
            <td><h2>Optional Fields</h2></td>
            <td></td>
          </tr>
          <tr>
            <td valign="top">Trip for paid members only?:</td>
            <td><input type="checkbox" name="membersOnly"></td>
          </tr>
          <tr>
            <td valign="top">Driving Required for this trip?:</td>
            <td><input type="checkbox" name="drivingRequired"></td>
          </tr>
          <tr>
            <td valign="top">Allow late signups?:<br><span class="mild">(Otherwise cuts off 12 hours before trip)</span></td>
            <td><input type="checkbox" name="allowLateSignups" checked></td>
          </tr>
          <tr>
            <td valign="top">Trip Location Description:</td>
            <td><textarea name="location" rows="4" cols="50"></textarea></td>
          </tr>
          <tr>
            <td valign="top">Driving Directions:</td>
            <td><textarea name="locationDirections" rows="4" cols="50"></textarea></td>
          </tr>
          <tr>
            <td valign="top">Trip Distance:</td>
            <td><input type="number" name="distance" value="0"></td>
          </tr>
          <tr>
            <td valign="top">Difficulty:</td>
            <td>
              <select name="difficulty" required>
                <option value="">----</option>
                <option value="0" selected>None</option>
                <option value="1">Trivial</option>
                <option value="2">Easy</option>
                <option value="3">Moderate</option>
                <option value="4">Strenuous</option>
                <option value="5">Very Strenuous+</option>
              </select></td>
          </tr>
          <tr>
            <td valign="top">Difficulty Description:</td>
            <td><textarea name="difficultyDescription" rows="4" cols="50"></textarea></td>
          </tr>
          <tr>
            <td valign="top">Instructions or notes for attendees.<br>Ex. Bring water, boots etc.:</td>
            <td><textarea name="instructions" rows="4" cols="50"></textarea></td>
          </tr>
          <tr>
            <td valign="top">Meet-up Location description<br>(visible only to the attending list):</td>
            <td><textarea name="meetupLocation" rows="4" cols="50"></textarea></td>
          </tr>
          <tr>
            <td valign="top">Any costs required?:<br><span class="mild">ex. Renting gear</span></td>
            <td><input type="checkbox" name="hasCost"></td>
          </tr>
          <tr>
            <td valign="top">Costs Description:<br><span class="mild">(max 200 characters)</span></td>
            <td><textarea name="costDescription" rows="4" cols="50" maxlength="199"></textarea></td>
          </tr>
          <tr>
            <td valign="top">Pets OK?:</td>
            <td><input type="checkbox" name="petsAllowed"></td>
          </tr>
          <tr style="border-bottom: 3px solid green;">
            <td valign="top">Instructions for pet owners:</span></td>
            <td><textarea name="petsDescription" rows="4" cols="50"></textarea></td>
          </tr>

          <tr>
            <td><h2>Your Signup</h2></td>
            <td></td>
          </tr>
          <tr>
            <td>I have read and agree to the <a target="_blank" rel="noopener noreferrer" href="/tripagreement">trip waiver terms</a>:</td>
            <td><input type="checkbox" required></td>
          </tr>
          <tr>
            <td>Are you driving?</td>
            <td><input type="checkbox" name="driver"></td>
          </tr>
          <tr>
            <td>If you are driving,<br>are you willing to carpool?</td>
            <td><input type="checkbox" name="canCarpool"></td>
          </tr>
          <tr>
            <td valign="top">If you are driving, how many people<br>(including yourself) can you drive?</td>
            <td><input type="number" name="carCapacity" value="0"></td>
          </tr>
          <tr>
            <td valign="top">Are you bringing anything?<br><span class="mild">Notes for yourself and other trip leaders</span></td>
            <td><textarea name="notes" rows="4" cols="50"></textarea>
          </tr>
          <tr>
            <td valign="top">Are you bringing a pet?</td>
            <td><input type="checkbox" name="pet"></td>
          </tr>
        </tbody>
      </table>
      <button type="submit">Submit</button>
    </form>
  </div>
